header {
    background-color: black;
    color: white; 
    padding: 10px 0;
    border-bottom: 2px solid black;
}

h1 {
    text-align: center;
    color: lightblue;
}

header a {
    color: white;
}

h2 {
    font-size: 2em;
}

#navtitle {
    font-size: 1.5em;
    margin-left: 50px;
}

li {
    margin-left: 25px;
}

main {
    padding: 10px 50px 10px 50px;
    background-color: lightblue;
}

a {
    color: black;
}

img {
    max-width: 600px;
    height: auto;
    border-radius: 2px;
}

.middlesection {
    border-top: 2px solid black;
}


footer {
    background-color: #999;
    padding: 10px 0;
    border-top: 2px solid black;
    text-align: center;
}